<div class="grid md:grid-cols-3 md:gap-4">
  <mat-form-field>
    <mat-label>Residencial</mat-label>
    <input matInput placeholder="+55 11 1234-5678" value="+55 11 1234-5678">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Celular</mat-label>
    <input matInput placeholder="+55 11 91111-222" value="+55 11 91111-222">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Emergência</mat-label>
    <input matInput placeholder="+55 11 93333-4444" value="+55 11 93333-4444">
  </mat-form-field>
</div>