<div class="py-4 bg-gree-300 flex flex-col gap-4">
  <div class="grid sm:grid-cols-3 gap-2">
    <app-user-info-item title="Nome" [text]="user?.name" />
    <app-user-info-item title="E-mail" [text]="user?.email" />
  </div>
  <div class="grid sm:grid-cols-3 gap-2">
    <app-user-info-item title="País" [text]="user?.country" />
    <app-user-info-item title="Estado" [text]="user?.state" />
  </div>
  <div class="grid sm:grid-cols-3 gap-2">
    <app-user-info-item title="Estado civil" [text]="user?.maritalStatus | maritalStatus" />
    <app-user-info-item title="Renda mensal" [text]="user?.monthlyIncome | currency" />
    <app-user-info-item title="Data de nascimento" [text]="user?.birthDate" />
  </div>
</div>