<div class="p-4">
  <mat-tab-group [(selectedIndex)]="currentTabIndex">
    <mat-tab label="Geral">
      @if(!isInEditMode){
        <app-general-informations [user]="userSelected" />
      }@else {
        <app-general-informations-edit [userForm]="userForm" [countriesList]="countriesList()" [statesList]="statesList()" (onCountrySelected)="onCountrySelected($event)" />
      }
    </mat-tab>
    <mat-tab label="Contato">      
      @if(!isInEditMode){
        <app-contact-informations [user]="userSelected" />
      }@else {
        <app-contact-informations-edit [userForm]="userForm" />
      }
    </mat-tab>
    <mat-tab label="Dependente">      
      @if(!isInEditMode){
        <app-dependents-list [userDependentsList]="userSelected.dependentsList" />
      }@else {
        <app-dependent-list-edit />
      }
    </mat-tab>
  </mat-tab-group>
</div>