<div class="grid sm:grid-cols-2 lg:grid-cols-6 lg:gap-4 sm:gap-4">
  <mat-form-field>
    <mat-label>Tipo</mat-label>
    <input matInput placeholder="Residêncial" value="Residêncial">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Rua</mat-label>
    <input matInput placeholder="Rua de Tal" value="Rua de Tal">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Complemento</mat-label>
    <input matInput placeholder="Próximo ao parque" value="Próximo ao parque">
  </mat-form-field>
  <mat-form-field>
    <mat-label>País</mat-label>
    <input matInput placeholder="Brazil" value="Brazil">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Estado</mat-label>
    <input matInput placeholder="São Paulo" value="São Paulo">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Cidade</mat-label>
    <input matInput placeholder="Ribeirão Preto" value="Ribeirão Preto">
  </mat-form-field>
</div>