<div class="py-4">
  <button class="bg-green-600 hover:bg-green-700 text-white py-1 px-2 rounded text-md cursor-pointer uppercase">Novo
    dependente</button>
</div>

<div class="grid grid-cols-2 sm:grid-cols-4 gap-4 sm:gap-4">
  <mat-form-field>
    <mat-label>Nome</mat-label>
    <input matInput placeholder="Fulaninho" value="Fulaninho">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Idade</mat-label>
    <input matInput placeholder="12" value="12">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Documento</mat-label>
    <input matInput placeholder="XXX.888.777-XX" value="XXX.888.777-XX">
  </mat-form-field>
  <div class="mt-4">
    <button class="bg-red-600 hover:bg-red-700 text-white py-1 px-2 rounded text-md cursor-pointer uppercase">Deletar</button>
  </div>
</div>